# bitbucket api token (generate an app password)
apiToken: <>

# the bitbucket workspace
workspace: <>

# bitbucket username
# e.g. user: christopher-palmer
user: <>

# team members
team:
  - joe blogs
  - john smith

# your name in the team
# e.g. me: christopher palmer
me: <>